<%- include("includes/sample.ejs")>
<body>
    <h1>Home</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero commodi ut eligendi, explicabo animi saepe voluptatum doloremque vel ad vero recusandae atque laboriosam rem omnis nulla assumenda deleniti, delectus quaerat.</p>
    <button>Hello</button>
    <button>Hello</button>
</body>
</html>